@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-4xl font-bold tracking-tight sm:text-5xl;
    }

    h2 {
        @apply text-2xl font-bold sm:text-3xl;
    }

    a {
        @apply underline transition hover:opacity-80;
    }

    pre {
        @apply p-6 overflow-x-auto rounded-lg;
    }

    :not(pre) > code {
        @apply px-1 py-0.5 font-mono rounded bg-[#1f1f1f] text-[#F67280];
        font-size: 0.9em;
    }
}

@layer components {
    .markdown > h1,
    .markdown > h2 {
        @apply mt-12 mb-6;
    }

    .markdown > p,
    .markdown > pre {
        @apply my-6;
    }

    .markdown > :first-child {
        @apply mt-0;
    }

    .markdown > :last-child {
        @apply mb-0;
    }

    .btn:disabled {
        @apply text-neutral-400 bg-neutral-700;
    }
}

button {
    transition: transform .3s cubic-bezier(.5,2.5,.7,.7), box-shadow .3s cubic-bezier(.5,2.5,.7,.7), -webkit-transform .3s cubic-bezier(.5,2.5,.7,.7), -webkit-box-shadow .3s cubic-bezier(.5,2.5,.7,.7);

    &:hover {
        --cta-stroke-width: calc(1* .0625rem);
        --cta-stroke-color: #047687;
        --cta-depth-color: #047687;
        /*background: var(--cta-hovered-background-color,var(--cta-background-color));*/
        /*color: var(--cta-hovered-text-color,var(--cta-text-color));*/
        -webkit-box-shadow: 0 0 0 var(--cta-stroke-width,0)var(--cta-stroke-color),0 var(--animation-depth,.375em)0 0 var(--cta-depth-color);
        box-shadow: 0 0 0 var(--cta-stroke-width,0)var(--cta-stroke-color),0 var(--animation-depth,.375em)0 0 var(--cta-depth-color);
        -webkit-transform: translateY(calc(-1*var(--animation-depth,.375em)));
        -ms-transform: translateY(calc(-1*var(--animation-depth,.375em)));
        transform: translateY(calc(-1*var(--animation-depth,.375em)));
    }
}