---
import Layout from '../layouts/Layout.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
An Astro website can go way beyond static pages - on the right platform.

Netlify supports not only [Streaming SSR](https://docs.astro.build/en/guides/server-side-rendering/#html-streaming) and fast [Edge Middleware](https://docs.astro.build/en/guides/middleware/), but also [on-demand revalidation](https://www.netlify.com/blog/cache-tags-and-purge-api-on-netlify/) and [stale-while-revalidate](https://www.netlify.com/blog/swr-and-fine-grained-cache-control/). 
Any page or data can be rebuilt only when needed, without site visitors ever getting a performance hit.
`;
---

<Layout title="Urología Dr. José Pérez Rodríguez">
    <section><div class="uppercase text-xl font-bold">Servicios que ofrecemos:</div>
        <ul class="list-disc pl-5 text-lg">
            <li>Fimosis Patológica (Circuncisión o Postectomia). También se oferta circunsición por motivos religiosos </li>
            <li>Frenillo Peniano Corto: Elongación de Frenillo Peniano</li>
            <li>Capuchón Dorsal Prepucial: Aislado o asociado a Hipospadias (Hemicircuncisión)</li>
            <li>Estenosis Meatal: Meatotomía</li>
            <li>Hidrocele Comunicante: Herniorráfia de Potss.</li>
            <li>Hidrocele del Cordón Espermático: Ligadura y exceresis, vía inguinal</li>
            <li>Hidrocele de la Vaginal Testicular: Plicatura de la Vaginal Testicular</li>
            <li>Hernia Inguinal Congénita o Adquirida: Herniorráfia por técnica de Potts o por vía inguinal.</li>
            <li>Varicocele (Ligadura subinguinal de venas espermáticas dilatadas)</li>
            <li>Criptorquidia (Orquidopexia)</li>
            <li>Atrofia Testicular (Orquidectomia y colocacion de protesis testicular)</li>
            <li>Degeneraciones Quísticas epididimarias (Exceresis)</li>
            <li>Hidátides en Testículo, Epidídimo o Cordón Espermático (Exceresis)</li>
            <li>Condilomas acuminados (Electrofulguración)</li>
            <li>Hipospadias (Uretroplastia-Glanduloplastia-Ortoplastia</li>
            <li>Epispadias (Uretroplastia - Ortoplastia)</li>
            <li>Litiasis Renal, Uretral o Vesical (Cirugía abierta en cada caso)</li>
        </ul>
    </section>
    <!--<Markdown content={explainer} class="text-lg mb-10" />-->
</Layout>
