---
import Logo from '../components/Logo.astro';
---

<header class="flex flex-wrap gap-4 pt-6 pb-6">
    <nav class="flex flex-col items-center gap-2 w-full">
        <a href="/">
            <Logo />
        </a>
        <div class="text-center">
            <h2 class="flex flex-col font-bold text-dark-green">Dr. José Pérez Rodríguez
                <span class="text-xl font-medium">Médico Urólogo</span>
                <span class="text-base font-normal text-light-green pb-0.5">Especialista en Niños y Adolescentes</span>
                <span class="text-xs font-normal text-grey">Ced. Prof: 14261356 | Ced.Esp: 14322280</span>
                <span class="text-xs font-normal text-grey">Universidad de Ciencias Médicas de La Habana</span>
            </h2>
        </div>
    </nav>
</header>
