---
import Logo from '../components/Logo.astro';
---

<header class="flex flex-wrap gap-4 pt-6 pb-16 sm:pt-12 sm:pb-24">
    <nav class="flex flex-col items-center gap-2 w-full">
        <a href="/">
            <Logo />
        </a>
        <div class="text-center">
            <h2 class="flex flex-col font-bold text-dark-green">Dr. José Pérez Rodríguez
                <span class="text-xl font-medium">Médico Urólogo</span>
                <span class="text-sm font-normal text-light-green">Especialista en Niños y Adolescentes</span>
                <span class="text-xs font-normal text-light-grey">C.P: 14261356 | C.E: 14322280</span>
            </h2>
        </div>
    </nav>
</header>
